/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07 17, 16, 5:50:57 PM
    Author     : Geraldine
*/

.select{
    width: 80%;
    margin: 0 auto;
    display: block;
}

.callout{
    margin: 3%;
}

.displayNone{
    width: 80%;
    display: none;
    margin: 3% auto 0 auto;
    text-align: center;
}
