<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>ServletFilter</filter-name>
        <filter-class>servlets.filter.ServletFilter</filter-class>
        <init-param>
            <param-name>avoid-urls</param-name>
            <param-value>index.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>avoid-urls</param-name>
            <param-value>register.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>avoid-urls</param-name>
            <param-value>redirect_error.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ServletFilter</filter-name>
        <url-pattern>/ServletFilter</url-pattern>
    </filter-mapping>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/ErrorHandler</location>
    </error-page>
    <servlet>
        <servlet-name>ServletAccess</servlet-name>
        <servlet-class>servlets.access.ServletAccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaseServlet</servlet-name>
        <servlet-class>servlets.servlet.BaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>servlets.accounts.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>servlets.servlet.ErrorHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReasonReject</servlet-name>
        <servlet-class>servlets.servlet.GetReasonReject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.accounts.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.accounts.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationsPusher</servlet-name>
        <servlet-class>servlets.servlet.NotificationsPusher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.servlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccount</servlet-name>
        <servlet-class>servlets.servlet.UpdateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCheckerServlet</servlet-name>
        <servlet-class>servlets.servlet.UploadCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveDataDemoServlet</servlet-name>
        <servlet-class>servlets.demo.access.RetrieveDataDemoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveDemoServlet</servlet-name>
        <servlet-class>servlets.demo.servlet.ApproveDemoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditErrorFormServlet</servlet-name>
        <servlet-class>servlets.demo.servlet.EditErrorFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadToDatabaseDemo</servlet-name>
        <servlet-class>servlets.demo.servlet.UploadToDatabaseDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValiAgeByGrpServ</servlet-name>
        <servlet-class>servlets.demo.servlet.ValiAgeByGrpServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValiHighestAttaintment</servlet-name>
        <servlet-class>servlets.demo.servlet.ValiHighestAttaintment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValiMaritalStatus</servlet-name>
        <servlet-class>servlets.demo.servlet.ValiMaritalStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewArchivesReportForApproval</servlet-name>
        <servlet-class>servlets.demo.servlet.ViewArchivesReportForApproval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportsDemo</servlet-name>
        <servlet-class>servlets.demo.servlet.ViewReportsDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveDataHealthServlet</servlet-name>
        <servlet-class>servlets.health.access.RetrieveDataHealthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHealthDirectory</servlet-name>
        <servlet-class>servlets.health.servlet.UpdateHealthDirectory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadToDatabaseHealth</servlet-name>
        <servlet-class>servlets.health.servlet.UploadToDatabaseHealth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValiNutritionalStatus</servlet-name>
        <servlet-class>servlets.health.servlet.ValiNutritionalStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportForApprovalHealth</servlet-name>
        <servlet-class>servlets.health.servlet.ViewReportForApprovalHealth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveReportsHealth</servlet-name>
        <servlet-class>servlets.health.servlet.ApproveReportsHealth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveDataEducationServlet</servlet-name>
        <servlet-class>servlets.education.access.RetrieveDataEducationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewSchool</servlet-name>
        <servlet-class>servlets.education.servlet.AddNewSchool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSchoolDirectory</servlet-name>
        <servlet-class>servlets.education.servlet.UpdateSchoolDirectory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadToDatabaseEducation</servlet-name>
        <servlet-class>servlets.education.servlet.UploadToDatabaseEducation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportsForApprovalEduc</servlet-name>
        <servlet-class>servlets.education.servlet.ViewReportsForApprovalEduc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovalsEducation</servlet-name>
        <servlet-class>servlets.education.servlet.ApprovalsEducation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSchoolNamePrivate</servlet-name>
        <servlet-class>servlets.education.servlet.SearchSchoolNamePrivate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSchoolNamePublic</servlet-name>
        <servlet-class>servlets.education.servlet.SearchSchoolNamePublic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSchoolData</servlet-name>
        <servlet-class>servlets.education.servlet.SetSchoolData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValiEnrollment</servlet-name>
        <servlet-class>servlets.education.servlet.ValiEnrollment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetAnalysisDataServlet</servlet-name>
        <servlet-class>servlet.setdata.SetAnalysisDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FactEducationServlet</servlet-name>
        <servlet-class>servlet.getjson.FactEducationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FactGetAllServlet</servlet-name>
        <servlet-class>servlet.getjson.FactGetAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FactHospitalServlet</servlet-name>
        <servlet-class>servlet.getjson.FactHospitalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FactPeopleServlet</servlet-name>
        <servlet-class>servlet.getjson.FactPeopleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateReport</servlet-name>
        <servlet-class>servlets.reports.servlet.CreateReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavedReportAnalysis</servlet-name>
        <servlet-class>servlets.reports.servlet.SavedReportAnalysis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavedReportIntegration</servlet-name>
        <servlet-class>servlets.reports.servlet.SavedReportIntegration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavedReportMatrix</servlet-name>
        <servlet-class>servlets.reports.servlet.SavedReportMatrix</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchIntegratedAnalysis</servlet-name>
        <servlet-class>servlets.reports.servlet.SearchIntegratedAnalysis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchReportAnalysis</servlet-name>
        <servlet-class>servlets.reports.servlet.SearchReportAnalysis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchReportMatrix</servlet-name>
        <servlet-class>servlets.reports.servlet.SearchReportMatrix</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetIntegratedAnalysis</servlet-name>
        <servlet-class>servlets.reports.servlet.SetIntegratedAnalysis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetReportAnalysis</servlet-name>
        <servlet-class>servlets.reports.servlet.SetReportAnalysis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetReportMatrix</servlet-name>
        <servlet-class>servlets.reports.servlet.SetReportMatrix</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportAccess</servlet-name>
        <servlet-class>servlet.access.reports.ReportAccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetDataServlet</servlet-name>
        <servlet-class>servlet.setdata.SetDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetEnrollmentDataServlet</servlet-name>
        <servlet-class>servlet.setdata.SetEnrollmentDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetHealthDirectoryData</servlet-name>
        <servlet-class>servlet.setdata.SetHealthDirectoryData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetHighestCompletedData</servlet-name>
        <servlet-class>servlet.setdata.SetHighestCompletedData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetMaritalDataServlet</servlet-name>
        <servlet-class>servlet.setdata.SetMaritalDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetNutritionalStatusDataServlet</servlet-name>
        <servlet-class>servlet.setdata.SetNutritionalStatusDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSchoolDirectoryServlet</servlet-name>
        <servlet-class>servlet.setdata.SetSchoolDirectoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountApproval</servlet-name>
        <servlet-class>servlets.accounts.AccountApproval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEmailAvailability</servlet-name>
        <servlet-class>servlets.accounts.CheckEmailAvailability</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUserNameAvailability</servlet-name>
        <servlet-class>servlets.accounts.CheckUserNameAvailability</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAccess</servlet-name>
        <url-pattern>/ServletAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaseServlet</servlet-name>
        <url-pattern>/BaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/ErrorHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReasonReject</servlet-name>
        <url-pattern>/GetReasonReject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationsPusher</servlet-name>
        <url-pattern>/NotificationsPusher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccount</servlet-name>
        <url-pattern>/UpdateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCheckerServlet</servlet-name>
        <url-pattern>/UploadCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveDataDemoServlet</servlet-name>
        <url-pattern>/RetrieveDataDemoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveDemoServlet</servlet-name>
        <url-pattern>/ApproveDemoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditErrorFormServlet</servlet-name>
        <url-pattern>/EditErrorFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadToDatabaseDemo</servlet-name>
        <url-pattern>/UploadToDatabaseDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValiAgeByGrpServ</servlet-name>
        <url-pattern>/ValiAgeByGrpServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValiHighestAttaintment</servlet-name>
        <url-pattern>/ValiHighestAttaintment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValiMaritalStatus</servlet-name>
        <url-pattern>/ValiMaritalStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewArchivesReportForApproval</servlet-name>
        <url-pattern>/ViewArchivesReportForApproval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportsDemo</servlet-name>
        <url-pattern>/ViewReportsDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveDataHealthServlet</servlet-name>
        <url-pattern>/RetrieveDataHealthServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHealthDirectory</servlet-name>
        <url-pattern>/UpdateHealthDirectory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadToDatabaseHealth</servlet-name>
        <url-pattern>/UploadToDatabaseHealth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValiNutritionalStatus</servlet-name>
        <url-pattern>/ValiNutritionalStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportForApprovalHealth</servlet-name>
        <url-pattern>/ViewReportForApprovalHealth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveReportsHealth</servlet-name>
        <url-pattern>/ApproveReportsHealth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveDataEducationServlet</servlet-name>
        <url-pattern>/RetrieveDataEducationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewSchool</servlet-name>
        <url-pattern>/AddNewSchool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSchoolDirectory</servlet-name>
        <url-pattern>/UpdateSchoolDirectory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadToDatabaseEducation</servlet-name>
        <url-pattern>/UploadToDatabaseEducation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportsForApprovalEduc</servlet-name>
        <url-pattern>/ViewReportsForApprovalEduc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovalsEducation</servlet-name>
        <url-pattern>/ApprovalsEducation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSchoolNamePrivate</servlet-name>
        <url-pattern>/SearchSchoolNamePrivate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSchoolNamePublic</servlet-name>
        <url-pattern>/SearchSchoolNamePublic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSchoolData</servlet-name>
        <url-pattern>/SetSchoolData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValiEnrollment</servlet-name>
        <url-pattern>/ValiEnrollment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetAnalysisDataServlet</servlet-name>
        <url-pattern>/SetAnalysisDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FactEducationServlet</servlet-name>
        <url-pattern>/FactEducationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FactGetAllServlet</servlet-name>
        <url-pattern>/FactGetAllServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FactHospitalServlet</servlet-name>
        <url-pattern>/FactHospitalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FactPeopleServlet</servlet-name>
        <url-pattern>/FactPeopleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateReport</servlet-name>
        <url-pattern>/CreateReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavedReportAnalysis</servlet-name>
        <url-pattern>/SavedReportAnalysis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavedReportIntegration</servlet-name>
        <url-pattern>/SavedReportIntegration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavedReportMatrix</servlet-name>
        <url-pattern>/SavedReportMatrix</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchIntegratedAnalysis</servlet-name>
        <url-pattern>/SearchIntegratedAnalysis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchReportAnalysis</servlet-name>
        <url-pattern>/SearchReportAnalysis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchReportMatrix</servlet-name>
        <url-pattern>/SearchReportMatrix</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetIntegratedAnalysis</servlet-name>
        <url-pattern>/SetIntegratedAnalysis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetReportAnalysis</servlet-name>
        <url-pattern>/SetReportAnalysis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetReportMatrix</servlet-name>
        <url-pattern>/SetReportMatrix</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportAccess</servlet-name>
        <url-pattern>/ReportAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetDataServlet</servlet-name>
        <url-pattern>/SetDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetEnrollmentDataServlet</servlet-name>
        <url-pattern>/SetEnrollmentDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetHealthDirectoryData</servlet-name>
        <url-pattern>/SetHealthDirectoryData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetHighestCompletedData</servlet-name>
        <url-pattern>/SetHighestCompletedData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetMaritalDataServlet</servlet-name>
        <url-pattern>/SetMaritalDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetNutritionalStatusDataServlet</servlet-name>
        <url-pattern>/SetNutritionalStatusDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSchoolDirectoryServlet</servlet-name>
        <url-pattern>/SetSchoolDirectoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountApproval</servlet-name>
        <url-pattern>/AccountApproval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEmailAvailability</servlet-name>
        <url-pattern>/CheckEmailAvailability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUserNameAvailability</servlet-name>
        <url-pattern>/CheckUserNameAvailability</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
