<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>ServletFilter</filter-name>
        <filter-class>ServletFilter.ServletFilter</filter-class>
        <init-param>
            <param-name>avoid-urls</param-name>
            <param-value>index.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>avoid-urls</param-name>
            <param-value>register.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>avoid-urls</param-name>
            <param-value>redirect_error.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ServletFilter</filter-name>
        <url-pattern>/ServletFilter</url-pattern>
    </filter-mapping>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/ErrorHandler</location>
    </error-page>
    <servlet>
        <servlet-name>ServletAccess</servlet-name>
        <servlet-class>servlets.access.ServletAccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Approvals</servlet-name>
        <servlet-class>servlets.servlet.Approvals</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaseServlet</servlet-name>
        <servlet-class>servlets.servlet.BaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>servlets.servlet.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>servlets.servlet.ErrorHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReasonReject</servlet-name>
        <servlet-class>servlets.servlet.GetReasonReject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationsPusher</servlet-name>
        <servlet-class>servlets.servlet.NotificationsPusher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.servlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccount</servlet-name>
        <servlet-class>servlets.servlet.UpdateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCheckerServlet</servlet-name>
        <servlet-class>servlets.servlet.UploadCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveDataDemoServlet</servlet-name>
        <servlet-class>servlets.demo.access.RetrieveDataDemoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveDemoServlet</servlet-name>
        <servlet-class>servlets.demo.servlet.ApproveDemoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditErrorFormServlet</servlet-name>
        <servlet-class>servlets.demo.servlet.EditErrorFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadToDatabaseDemo</servlet-name>
        <servlet-class>servlets.demo.servlet.UploadToDatabaseDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValiAgeByGrpServ</servlet-name>
        <servlet-class>servlets.demo.servlet.ValiAgeByGrpServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValiHighestAttaintment</servlet-name>
        <servlet-class>servlets.demo.servlet.ValiHighestAttaintment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValiMaritalStatus</servlet-name>
        <servlet-class>servlets.demo.servlet.ValiMaritalStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewArchivesReportForApproval</servlet-name>
        <servlet-class>servlets.demo.servlet.ViewArchivesReportForApproval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportsDemo</servlet-name>
        <servlet-class>servlets.demo.servlet.ViewReportsDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAccess</servlet-name>
        <url-pattern>/ServletAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Approvals</servlet-name>
        <url-pattern>/Approvals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaseServlet</servlet-name>
        <url-pattern>/BaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/ErrorHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReasonReject</servlet-name>
        <url-pattern>/GetReasonReject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationsPusher</servlet-name>
        <url-pattern>/NotificationsPusher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccount</servlet-name>
        <url-pattern>/UpdateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCheckerServlet</servlet-name>
        <url-pattern>/UploadCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveDataDemoServlet</servlet-name>
        <url-pattern>/RetrieveDataDemoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveDemoServlet</servlet-name>
        <url-pattern>/ApproveDemoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditErrorFormServlet</servlet-name>
        <url-pattern>/EditErrorFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadToDatabaseDemo</servlet-name>
        <url-pattern>/UploadToDatabaseDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValiAgeByGrpServ</servlet-name>
        <url-pattern>/ValiAgeByGrpServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValiHighestAttaintment</servlet-name>
        <url-pattern>/ValiHighestAttaintment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValiMaritalStatus</servlet-name>
        <url-pattern>/ValiMaritalStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewArchivesReportForApproval</servlet-name>
        <url-pattern>/ViewArchivesReportForApproval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportsDemo</servlet-name>
        <url-pattern>/ViewReportsDemo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
